.chatPage {
    display: flex;
    height: calc(100vh - 100px);
    background-color: #121212;
    color: #ffffff;
}

.sidebar {
    transition: width 0.3s ease;
    background-color: #1e1e1e;
    overflow: hidden;
}

.sidebar.open {
    width: 350px;
}

.sidebar.closed {
    width: 0;
}

.chatContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #181818;
}

.header {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    background-color: #232323;
    border-bottom: 1px solid #333;
}

.toggleBtn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #ccc;
    margin-right: 1rem;
    cursor: pointer;
}