:root {
    --bg-card: #ffffff;
    --text-color: #111111;
    --text-muted: #555555;
    --border-color: #dddddd;
    --accent-color-start: #6366f1;
    --accent-color-end: #3b82f6;
    --danger-color: #d32f2f;
    --danger-hover: #b71c1c;
}

[data-theme="dark"] {
    --bg-card: #0c0c0c;
    --text-color: #e0e0e0;
    --text-muted: #a0a0a0;
    --border-color: #252525;
    --accent-color-start: #4f46e5;
    --accent-color-end: #3b82f6;
    --danger-color: #ff5f5f;
    --danger-hover: #ff4343;
}