.appLayout {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #161616;
}

.backgroundEffect {
    position: absolute;
    inset: 0;
    background-image: conic-gradient(
        from 0deg,
        #00ffff,
        #6a5acd,
        #8a2be2,
        #ff1493,
        #ff8c00,
        #00ffff
    );
    opacity: 0.03;
    filter: blur(60px);
    z-index: 0;
    animation: backgroundShift 20s ease-in-out infinite alternate;
    pointer-events: none;
}

@keyframes backgroundShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.appMain {
    position: absolute;
    top: 70px; /* header height */
    bottom: 30px; /* footer height */
    left: 0;
    right: 0;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
}
