.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #0c0c0c;
    border-top: 1px solid #1c1f27;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    z-index: 100;

    /* Add this for vertical + horizontal centering */
    display: flex;
    align-items: center;
    /* vertical center */
    justify-content: end;
    /* horizontal center */
    padding-right: 30px;
    font-size: 0.9em;
}